<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>930867921270-ircfme3e5f3e77ejti61rg462ceb3jic.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.930867921270-ircfme3e5f3e77ejti61rg462ceb3jic</string>
    <key>API_KEY</key>
    <string>AIzaSyDRXF7D9GayO-3tUerGdu05HW8oibE1dHY</string>
    <key>GCM_SENDER_ID</key>
    <string>930867921270</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.darkmat13r.cartUpon</string>
    <key>PROJECT_ID</key>
    <string>cartuponappweb</string>
    <key>STORAGE_BUCKET</key>
    <string>cartuponappweb.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:930867921270:ios:9737fb94d54943a7253a57</string>
</dict>
</plist>
