<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>376940591794-09oi65i81eeod0u6p0hfirssek93k26m.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.376940591794-09oi65i81eeod0u6p0hfirssek93k26m</string>
    <key>API_KEY</key>
    <string>AIzaSyAhhN5W8SNWmsTgLxPUZHLsFzpOa1ecTik</string>
    <key>GCM_SENDER_ID</key>
    <string>376940591794</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.darkmat13r.cartUpon</string>
    <key>PROJECT_ID</key>
    <string>cartupon-318511</string>
    <key>STORAGE_BUCKET</key>
    <string>cartupon-318511.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:376940591794:ios:591b70cb80b200a737e7ab</string>
</dict>
</plist>
